<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>query_id</th>
      <th>query_date</th>
      <th>query_timestamp</th>
      <th>contact_name</th>
      <th>client_id</th>
      <th>phone</th>
      <th>email</th>
      <th>query_text</th>
      <th>query_screenshot</th>
      <th>query_status</th>
      <th>query_status_updated_at</th>
      <th>query_coordinator</th>
      <th>query_executer</th>
      <th>query_result</th>
      <th>query_finance_execution</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>None</td>
      <td>2020-11-15</td>
      <td>2020-11-15 12:04:49.679155</td>
      <td>1</td>
      <td>NaN</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>None</td>
      <td>2020-11-15 12:04:49.679155</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>1</th>
      <td>None</td>
      <td>2020-11-15</td>
      <td>2020-11-15 12:53:27.843210</td>
      <td>1</td>
      <td>-1.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>1</td>
      <td>2020-11-15 12:53:27.843210</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>None</td>
    </tr>
    <tr>
      <th>2</th>
      <td>None</td>
      <td>2020-11-15</td>
      <td>2020-11-15 14:04:57.794850</td>
      <td>1</td>
      <td>-1.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>1</td>
      <td>2020-11-15 14:04:57.794850</td>
      <td>1</td>
      <td>1</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>