<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Benefactor registration form</h1>
      <br>
      <form action="" method="post">
          <input type="text" placeholder="Name" name="name" required value="{{
          request.form.name }}"> <br>
          <input type="text" placeholder="Surname" name="surname" required value="{{
          request.form.name }}"> <br>
          <input type="text" placeholder="Birth date" name="birth_date" required value="{{
          request.form.birth_date }}"> <br>
          <input type="text" placeholder="Phone" name="phone" required value="{{
          request.form.phone }}"> <br>
          <input type="text" placeholder="TG id" name="tg_id" required value="{{
          request.form.phone }}"> <br>
          <input type="text" placeholder="Email" name="email"  value="{{
          request.form.email }}"> <br>
          <input type="text" placeholder="Socials" name="socials"  value="{{
          request.form.socials }}"> <br>
          <input type="text" placeholder="Website" name="website"  value="{{
          request.form.website }}"> <br>
          <input type="text" placeholder="Comment" name="comment"  value="{{
          request.form.comment }}"> <br>
          <input type="text" placeholder="Financial details" name="financial_details"  value="{{
          request.form.financial_details }}"> <br>
          <input placeholder="Category" list="category" name="category" required
          value = "{{request.form.category}}"><br>
          <datalist id="category">
            <option value="VIP">
            <option value="Usual">
          </datalist>
        <input class="btn btn-default" type="submit" value="Create client's query">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>