{% extends "base.html" %}
{% block content %}
    <div class="container">
      <h1>Client registraion form</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Name" name="Name" required value="{{
          request.form.name }}"> <br>
          <input type="text" placeholder="Surname" name="Surname" required value="{{
          request.form.surname }}"> <br>

<!--          проебал в базе-->
         <input type="text" placeholder="dd-mm-yyyy" name="Birth date" value="{{
          request.form.birth }}"> <br>
<!--          в специальную таблицу-->
          <input type="text" placeholder="Condition" name="Condition" required value="{{
          request.form.condition }}"> <br>
          <input type="text" placeholder="Diagnosis" name="Diagnosis" required value="{{
          request.form.diagnosis }}"> <br>
          <input type="text" placeholder="Phone" name="Phone" required value="{{
          request.form.phone }}"> <br>
          <input type="text" placeholder="Second phone" name="Second phone"  value="{{
          request.form.second_phone }}"> <br>
          <input type="text" placeholder="TG id" name="TG id"  value="{{
          request.form.tg_id }}"> <br>
          <input type="text" placeholder="Email" name="Email"  value="{{
          request.form.email }}"> <br>
          <input type="text" placeholder="Profession" name="Profession"  value="{{
          request.form.profession }}"> <br>
          <input type="text" placeholder="Hobbies" name="Hobbies"  value="{{
          request.form.hobbies }}"> <br>
          <input type="text" placeholder="Comment" name="Comment"  value="{{
          request.form.comment }}"> <br>
        <input class="btn btn-default" type="submit" value="Create client">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
{% endblock %}
