{% extends "base.html" %}
{% block bonus_title %} Таблица {{who}} Фонда {% endblock %}
{% block content %}

<style>
    div.with-margins {
        margin-left: {{margin_left}}px;
    }
</style>

<div class="container">
    <h1>Таблица {{who}} Фонда</h1>

    <ul class="nav nav-tabs action-nav">
        <li>
            <a href={{where_to}} title="Create new record">Добавить {{whom}}</a>        
        </li>    
    </ul>

    <table class="table table-stripped table-bordered table-hover model-list">
        <thead>
            <tr>
                {% for db_field, table_field in values %}
                    <th class="column-header col-{{db_field}}"><a>{{table_field}}</a></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in db_table %}
            <tr>
                {% for field in row %}
                    <td>{{field}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock %}