
{% extends "base.html" %}


{% block bonus_title %} {{name}} | {{kind}} card
{% endblock %}
{% block content %}



<div class="container">
    <h3>{{name}}</h3>
    <p></p>

    <table class="table table-stripped table-bordered table-hover">
    <tbody>
    {% for fieldname,pretty_name,data in values%}
        <tr>
            <td><b>{{ pretty_name }}</b></td>
            <td>{{ data }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <a href={{edit_page}}>
        <input class="btn btn-default" type="submit" value="Редактировать">
    </a>

</div>


{% block actions %}{% endblock %}

{% endblock %}
