{% extends "base.html" %}
{% block bonus_title %} Таблица {{who}} Фонда {% endblock %}
{% block content %}

<style>
    table {
        word-wrap: wrap break-word;
    }

</style>

<div class="container">
    <h1>Таблица {{who}} Фонда</h1>

    <ul class="nav nav-tabs action-nav">
        <li>
            <a href={{where_to}} title="Create new record">Добавить {{whom}}</a>        
        </li>    
    </ul>

    <table class="table table-stripped table-bordered table-hover model-list">
        <thead>
            <tr>
                {% for db_field, table_field in values %}
                    <th class="column-header"><a>{{table_field}}</a></th>
                {% endfor %}
                <th class="column-header"><a>Cтраница {{whom}}</a></th>
            </tr>
            
        </thead>
        <tbody>
            {% for id, row in zip(ids, db_table) %}
            <tr class='clickable-row'>
                {% for field in row %}
                    <td>{{field}}</td>
                {% endfor %}
                <td><a href={{card_to + id}}>Ссылка</a></td>    
            </tr>
            {% endfor %}
            
        </tbody>

    </table>
</div>

{% endblock %}