{% extends "base.html" %}

{% block bonus_title %} Регистрация нового {{who}} {% endblock %}

{% block content %}
<style>
div.form-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

input.form-control {
  width: 50%;
}
</style>

    <div class="container">
      <h1>Регистрация нового {{who}}</h1>
      <form action={{registered_to}} method="post" role="form" class='form-horizontal'>
        
        {% for name, placeholder, placeholder_name, is_strong in values %}
          <div class="form-group">
            <label for={{name}} class="col-md-2 control-label">{{placeholder_name}}{% if is_strong %}<strong style="color: red">*</strong>{% endif %}</label>
            <div class="col-md-10">
              {% if is_strong%}
              <input class="form-control" id={{name}} name={{name}} required placeholder="{{placeholder}}" value>
              {% else %}
              <input class="form-control" id={{name}} name={{name}} placeholder="{{placeholder}}" value>
              {% endif %}
            </div>
          </div>
        {% endfor %}

        <input class="btn btn-default" type="submit" value="Создать">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
{% endblock %}
