{% extends "base.html" %}
{% block bonus_title %} Client query creation {% endblock %}
{% block content %}

<style>
  div.form-group {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  input.form-control {
    width: 50%;
  }
  </style>
    <div class="container">
      <h1>Client query creation form</h1>
      <br>
      <form action="" method="post">
          <input type="text" placeholder="Contact name" name="contact_name" required value="{{
          request.form.contact_name }}"> <br>

          <input type="text" placeholder="Phone" name="phone" required value="{{
          request.form.phone }}"> <br>
          <input type="text" placeholder="Email" name="email" required value="{{
          request.form.email }}"> <br>
          <input type="text" placeholder="Query text" name="query_text" required value="{{
          request.form.query_text }}"> <br>
          <input type="text" placeholder="Screenshot" name="query_screenshot"  value="{{
          request.form.query_screenshot }}"> <br>
          <input placeholder="Status" list="Status" name="query_status" required
          value = "{{request.form.query_status}}"><br>
          <datalist id="Status">
            <option value="New">
            <option value="Formalized">
            <option value="Ready">
            <option value="In work">
            <option value="Done">
              <option value="Closed">
              <option value="Rejected">
          </datalist>
        <input class="btn btn-default" type="submit" value="Create client's query">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
{% endblock %}