<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Benefactor registration form</h1>
      <br>
      <form action="" method="post">
          <input type="text" placeholder="Name" name="name" required value="{{
          request.form.name }}"> <br>
          <input placeholder="Type" list="type" name="type" required
          value = "{{request.form.type}}"><br>
          <datalist id="type">
            <option value="Legal entity">
            <option value="Private entity">
          </datalist>
          <input type="text" placeholder="INN" name="inn" required value="{{
          request.form.inn }}"> <br>
          <input type="text" placeholder="OGRN" name="ogrn" required value="{{
          request.form.ogrn }}"> <br>
          <input type="text" placeholder="Legal address" name="legal_address" required value="{{
          request.form.legal_address }}"> <br>
          <input type="text" placeholder="Payment details" name="payment_details"  value="{{
          request.form.payment_details }}"> <br>
          <input type="text" placeholder="Logo" name="logo"  value="{{
          request.form.logo }}"> <br>
          <input type="text" placeholder="Phone" name="phone" required value="{{
          request.form.phone }}"> <br>
          <input type="text" placeholder="Email" name="email" required value="{{
          request.form.email }}"> <br>
          <input type="text" placeholder="Socials" name="socials"  value="{{
          request.form.socials }}"> <br>
          <input type="text" placeholder="Website" name="website" required value="{{
          request.form.website }}"> <br>
          <input placeholder="Sphere" list="sphere" name="sphere"  required multiple
          value = "{{request.form.sphere}}"><br>
          <datalist id="sphere">
            <option value="Place for an event">
            <option value="Souvenirs">
              <option value="Polygraphy">
              <option value="Medical services">
              <option value="Legal services">
              <option value="Psychology">
          </datalist>
          <input placeholder="Category" list="category" name="category"  required
          value = "{{request.form.sphere}}"><br>
          <datalist id="category">
            <option value="VIP">
            <option value="Usual">
          </datalist>
          <input type="text" placeholder="Comment" name="comment"  value="{{
          request.form.comment }}"> <br>
        <input class="btn btn-default" type="submit" value="Create partner">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
  </body>
</html>